$blue:#324b6e;
$green: #767676;
$white:#ffff;



$s: 16px;
$xs:13px;

$Mont: 'Montserrat', sans-serif;
$Pop: 'Poppins', sans-serif;


*,*::before , *::after {
	font-family: $Mont;
	box-sizing: border-box;
}

